body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ededed;
    height: 100vh;
}

header {
    background-color: #047dad;
    margin-top: 0px;
    padding: 0.5vh;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
}

header h1 {
    font-size: 3vh;
}

footer { 
    background-color: #047dad;
    position: fixed;
    bottom: 0px;
    padding-left: 100vw;
    padding-top: 2vh;
    padding-right: 100px;
    margin-left: 0vw;
    border-top: 2px solid black;;
}

#top-title-page-select {
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: 20px;
    align-items: center;
    width: 150px;
}

main {
    height: 80%;
    width: 100vw; 

    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
}

.song {
    /* visibility: hidden; */
    /* flex: 0 0 20%; */
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px #888888;
    border: 1.5px solid black;
    /* transform: 8s ease-in-out; */
    background-color: rgb(255, 255, 255);
    position: relative;
    transition: all 0.1s ease-in-out;
    /* overflow-y: hidden; */

}

#music-holder {
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    grid-template-rows: repeat(4, 40vh);
    margin-top: 10px;

    row-gap: 5vh;
    column-gap: 2vw;
    width: 90vw;

    transition: all 0.25s ease-in-out;
    justify-content: center;

}


.song img {
    width: 100%;
    height: 60%;
    margin-bottom: 0px; 
    border-radius: 5px;
    scale: 0.95 0.95;
}
.song h3 {
    margin-top: 0px;
    margin-left: 5px;
    margin-bottom: 0px;
    font-size: 1.5vw;
}

.song p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    font-size: 1vw;
    /* overflow-x: auto; */
    /* white-space: nowrap; */
}

#delete-holder {
    justify-content: right;
    display: flex;
    flex-direction: row;
}

#delete-button {
    width: 16px;
    height: 16px;
    max-width: 100px;
    bottom: 5px;
    margin-right: 5px;
    position: absolute;
}

#footer-div {
    padding: 10px;
    background-color: gray;
    margin-top: 15vh;
}

.song:hover {
    /* scale: 1.025 1.025; */
    transform: translateY(-5px);
    box-shadow: 1px 1px 10px 4px #888888;

}



/* CSS for Modal */
.modal {
    visibility: hidden;
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
   background-color: #fefefe;
   margin: 15% auto; /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 80%; /* Could be more or less, depending on screen size */
}
.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
   margin-left: 97%;
}
.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}


.modal-content {
    display: flex;
    flex-direction: column;
    width: 80vw;
   border-radius: 10px;

}
#modal-top {
    display: flex;

    height: 30%;
    width: 100%;
}

#icon {
    display: flex;
    flex-direction: column;
}

#modal-img {
    border-radius: 5px;
    width: 100px;
    height: 100%;
}
#icon-description {
    margin-left: 30px;
}

#modal-button {
    margin-top: 10px;
}

#modal-bottom {
    overflow-y: auto;
    margin-top: 10px;
    /* width: 100%; */
    height: 300px;
}

.modal-songs {
    background-color: #f3f3f3;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    border: black solid 1.5px;
    /* overflow-y: scroll; */
}

#modal-songs {
    visibility: "hidden";
}

#modal-song-img {
    width: 100px;
    height: 100%;
    border-radius: 5px;
}

#modal-song-description {
    display: flex;
    flex-direction: column;
}

#modal-song-description h4 {
    margin: 0px;
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 0px;
    font-size: 2vw;
    /* width: 50vw; */
}
#modal-song-description p {
    margin: 0px;
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 0px;
    font-size: 2vw;
    /* width: 40vw; */
    max-height: 4vw;
}

#modal-song-duration {
    margin-left: auto;
    margin-right: 20px;
}


@media only screen and (min-width: 1080px){
    .modal-content {
        width: 50vw;
    }

    #music-holder {
        
        grid-template-columns: repeat(4, 15vw);
        grid-template-rows: repeat(4, 40vh);
        row-gap: 5vh;
        column-gap: 2vw;
    }

    #modal-song-description p {
        font-size: 1vw;
        /* width: 40vw; */
        max-height: 4vw;
    }

    #modal-song-description h4 {
        font-size: 1.5vw;
        /* width: 50vw; */
    }

    .song p {
        font-size: 1vw;
    }

    .song h3 {
        font-size: 1.5vw;
    }

}

@media only screen and (max-width: 760px){
    .modal-content {
        width: 50vw;
    }

    #music-holder {
        grid-template-columns: repeat(4, 15vw);
        grid-template-rows: repeat(4, 40vh);
        row-gap: 5vh;
        column-gap: 2vw;
    }

    #modal-song-description p {
        font-size: 1.5vw;
        max-height: 4vw;
    }

    #modal-song-description h4 {
        font-size: 1.5vw;
    }

    .song p {
        font-size: 1vw;
    }

    .song h3 {
        font-size: 1.5vw;
    }

    #modal-song-duration {
        /* font-size; */
    }

}


@media only screen and (max-width: 400px){
    .modal-content {
        width: 50vw;
    }

    #music-holder {
        grid-template-columns: repeat(4, 15vw);
        grid-template-rows: repeat(4, 40vh);
        row-gap: 5vh;
        column-gap: 2vw;
    }

    #modal-song-description p {
        font-size: 1.5vw;
        width: 40vw;
        max-height: 4vw;
    }

    #modal-song-description h4 {
        font-size: 1.5vw;
        width: 50vw;
    }

    .song p {
        font-size: 2vw;
    }

    .song h3 {
        font-size: 2vw;
    }

}


#likes {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 5px;
    align-items: center;
}

#like-button {
    bottom: 5px;
    margin-left: 5px;
    height: 20px;
    width: 20px;
}

#filter-field-div {
    display: flex;
    align-items: center;
}

#filter-field {
    margin-left: 1vw;
    width: 15vw;
    max-width: 200px;
    box-sizing: border-box;
    border-radius: 4px;
    /* font-size: 16px; */
    background-color: #e3f7ff;
}

#search-field-div {
    display: flex;
    align-items: center;
}
#search-field {
    margin-left: 5vw;
    width: 20vw;
    max-width: 250px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    background-color: #e3f7ff;
}


#placeholder {
    size: 0vw;
    display: none;
}